// Panels

@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border-color: rgba(0,0,0,0.1);

  & > .panel-heading {
    color: #FFF;
    background-color: #1891e7;
    border-color: $heading-border;
    border-bottom: 0px;
    box-shadow: 0px 2px 2px 0px #ddd;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    + .panel-collapse > .panel-body {
    }
    .badge {
      color: $heading-bg-color;
      background-color: $heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
    }
  }
}
