@import './variables.scss';

:root {
  --brand-color: #61dafb;
}

.root {
  background: #373277;
  color: #fff;
}

/*.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}*/

/*.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em;
}*/

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}

.topNavbar {
  background: none;
  border-radius: 0;
  border: none;

  & .navbarHeader {
    width: var(--nav-width);
    background: #5db2ee;
    height: 70px;
    & .navbarBrand {
      display: block;
      color: #d6ebf8;
      float: none;
      /*background: transparent;*/
      &:hover {
        color: #ecf6fc;
      }
      & .topnavImgLeft {
        background-color: #5db2ee;
        display: inline-block !important;
        //     width: 200px;
        // margin-left: 15px;
        // margin-right: 8px;
        // margin-bottom: 4px;
        // margin-top : -25px;
        display : flex;
        width : 200px;
        margin-top : -30px;
        justify-content: center;
      }
      & .topnavText {
        color: #ecf6fc;
        font-size: 20px;
        font-weight: 300;
      }
    }
    & :global(.navbar-toggle) {
      float: left;
      & :global(span.icon-bar) {
        background: white;
      }
    }
  }

  & .componentTitle {
    line-height: 70px;
    margin-left: 30px;
    color: var(--brand-primary);
    font-weight: 600;
  }

  & .navbarCollapse {
    margin-left: 235px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    height: 70px !important;

    border: solid 1px rgba(0, 0, 0, 0.1);
  }

  & .navbarForm {
    padding-left: 15px;

    & .glyphiconStyle {
      opacity: 0.7;
    }

    & .formControl {
      width: 40px;
      border-radius: 0;
      outline: none;
      padding: 2px 22px;
      border: none;
      margin-left: -20px;
      border-bottom: 1px solid color(var(--brand-primary) 10%);
      background: inherit;
      box-shadow: none;
      opacity: 0.7;
      transition: all .2s linear;
      &:focus {
        width: 200px;
        opacity: 1;
      }
    }

  }

  & .ulNavbar {
    margin-top: -3px;
    &:global(.navbar-right) {
      margin-right: 10px;
    }
    & li {
      transition: all .2s linear;
      & ul {
        padding: 0;
        top: 100%;
        & li a {
          padding-bottom: 8px;
        }
      }
    }
    & a {
      &:hover, &:focus, &:active {
        background: var(--brand-primary);
        color: #FFF;
      }
    }
    & .glyphiconStyle {
      font-size: 16px;
    }
    & :global(.badge) {
      font-size: 9px;
      position: absolute;
      top: 6px;
      right: 5px;
      padding: 4px;
      min-width: 16px;
      font-weight: 400;
      line-height: 1;
    }

    & .badgeGreen {
      background-color: var(--brand-secondary);
    }
    & .badgeRed {
      background-color: var(--brand-danger);
    }
    /* below focus or hover or activer not working*/
    & .dropDownMenu {
      padding: 0;
      border: none;
      border-top: 1px solid #eee;
      transition: all 0.1s linear;
      & .messageTop {
        padding: 0;
        border: 1px solid #eee;
        border-top: none;
        font-size: 12px;
        opacity: 0.7;
        & a {
          padding: 10px;
        }
      }

      & .dropDownMessage {
        width: 260px;
        border: 1px solid #eee;
        border-top: none;
        a {
          width: 100%;
          height: 53px;
        }
        & .messageSender {
          padding-top: 5px;
          font-weight: 600;
          font-size: 13px;
        }
        & .messageHeader {
          font-size: 11px;
          padding-top: 3px;
          opacity: .7;
        }
      }

      & .notificationHeader {
        border: 1px solid #eee;
        border-top: none;
        font-size: 12px;
        opacity: 0.7;
        & a {
          padding: 10px;
        }
      }

      & .dropDownNotification {
        width: 260px;
        border: 1px solid #eee;
        border-top: none;
        a {
          width: 100%;
        }
        & .notificationBody {
          padding-top: 5px;
          font-size: 12px;
          & .faStyle {
            margin-right: 20px;
            opacity: 0.8;
          }
        }
      }
    }
  }
  & .pullRight {
    & ul {
      padding: 0;
      & li {
        border: 1px solid #eee;
        border-top: none;
      }
      &[aria-labelledby='dropDown3'] li a {
        padding: 10px 15px;
      }
    }
    & .navbarProfile {
      & a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 52px;
      }
      & .topnavAdminName {
        font-weight: 600;
       // color: #e78318;
      }
    }
    & .dropdownLogout{
      height: 44px;
      a {
        line-height: 23.5px;
      }
    }
  }
  & .topnavImg {
    width: 40px;
    margin-left: 5px;
  }
}

.btnStyle {
  margin: 8px 10px;
  border-color: var(--brand-primary);
  color: var(--brand-primary);
  border-radius: 50px;
  background: #FFFFFF;
  border-width: 2px;
  &:hover {
    background: var(--brand-primary);
      // background: #FFF;    
    border-color: var(--brand-primary);
  }
}


.hidd {
  display: none;
}

:global(.rtl) {
  & * {
    direction: rtl;
  }
  & .navbarHeader {
    float: right;
  }

  & :global(ul.navbar-right) {
    padding-right: 0;
  }
  & .navbarCollapse {
    & .navbarForm {
      margin-left: 10px;
    }
  }
  & ul.ulNavbar {
    padding-right: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 856px) {
  .buyButton {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .topNavbar {
    background: var(--brand-primary);
  }
  ul.hidd {
    display: block;
    position: absolute;
    right: 0;
    top: -8px;
    z-index: 3;
    & li.dropdown {
      & a {
        padding: 10px 20px !important;
        &:hover, &:focus, &:active {
          background-color: var(--brand-primary);
          color: #FFF;
          line-height: 44px;
        }
      }
      & :global(ul.dropdown-menu){
        padding: 0px;
      }
    }
  & a {
      & img.topnavImg {
        margin-right: 10px;;
      }
    }
  }

  :global(.navbar-nav .open .dropdown-menu) {
    position: absolute;
    right: 0;
    left: auto;
    background-color: #fff !important;
  }

  ul.hidd {
    & :global(.open .dropdown-menu) {
      & a:hover {
        background-color: var(--brand-primary);
      }
      & li {
        border: solid 1px #eee;
        border-top: none;
      }
    }
  }
  ul.hidd:hover, ul.hidd:focus, ul.hidd:active {
    background: none;
  }
  .topNavbar .navbarHeader {
    width: 100%;
  }
}
