:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
/*======================================
variable for ani theme
======================================*/

/*--nav-width       : 235px;
--brand-primary   : #181B2B;
--brand-secondary : #7BB77C;
--brand-danger    : #de6764;
--brand-black     : #ffffff*/

--nav-width       : 235px;
$brand-primary:         #1B557A !default;
$brand-primary-light:   #184C6D !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #de6764 !default; //#d9534f;
}
